#myform label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#myform input{
	width: 180px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#myform select{
	width: 194px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#myform textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#myform div{
	margin-bottom: 15px;
}
#myform div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#myform #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#myform #send:hover{
	background: #79a7f1;
}

#myform2 label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#myform2 input{
	width: 180px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#myform2 select{
	width: 194px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#myform2 textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#myform2 div{
	margin-bottom: 15px;
}
#myform2 div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#myform2 #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#myform2 #send:hover{
	background: #79a7f1;
}
#myform3 label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#myform3 input{
	width: 180px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#myform3 select{
	width: 194px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#myform3 textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#myform3 div{
	margin-bottom: 15px;
}
#myform3 div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#myform3 #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#myform3 #send:hover{
	background: #79a7f1;
}
#uznemums label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#uznemums input{
	width: 180px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#uznemums textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#uznemums div{
	margin-bottom: 15px;
}
#uznemums div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#uznemums #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#uznemums #send:hover{
	background: #79a7f1;
}
#uznemums2 label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#uznemums2 input{
	width: 180px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#uznemums2 textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#uznemums2 div{
	margin-bottom: 15px;
}
#uznemums2 div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#uznemums2 #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#uznemums2 #send:hover{
	background: #79a7f1;
}
#person label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#person input{
	width: 180px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#person textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#person div{
	margin-bottom: 15px;
}
#person div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#person #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#person #send:hover{
	background: #79a7f1;
}
#person select{
	width: 194px;
	padding: 6px;
	color: black;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}

